.container
  %table.table
    %thead
      %tr
        %th Occupation
    %tbody
      - @occupations.each do |occupation|
        %tr
          %td= link_to "#{occupation.name.titleize} (#{occupation.taggings_count})", occupation_path(occupation.name.downcase.gsub(" ", "-"))
  = render partial: "common/pies" if @occupations_count.size > 2 && @schools_count.size > 2
