---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=https://en.wikipedia.org/Muhammad_Yunus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: TLS Redirect
    headers:
      X-Client-Ip:
      - 82.39.110.46
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&format=json&languages=en&titles=https%3A%2F%2Fen.wikipedia.org%2FMuhammad_Yunus
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Feb 2018 15:44:01 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=https://en.wikipedia.org/Muhammad_Yunus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=48152 t=1518277441239114
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=10-Feb-2018;WMF-Last-Access-Global=10-Feb-2018;https=1
      X-Client-Ip:
      - 82.39.110.46
    body:
      encoding: UTF-8
      string: '{"entities":{"-1":{"site":"enwiki","title":"https://en.wikipedia.org/Muhammad_Yunus","missing":""}},"success":1}'
  recorded_at: Sat, 10 Feb 2018 15:44:01 GMT
recorded_with: VCR 3.0.3
