= link_to "tweet", "https://twitter.com/intent/tweet?url=&text=@#{individual.try(:twitter)} I added you to the list of who does and who does not agree or support '#{statement.shortened_content(35)}' #{shortened_url_without_params}", "data-dismiss" => "modal"
